.event-detail-container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.breadcrumb-event-link {

    margin-bottom: -10px;

 }



.group-and-event-info-box{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px
}

.top-event-container {
    display: flex;
    flex-direction: row;
    gap: 30px
}
.group-info-box {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    display: flex;
}

.event-detail-group-info-box {
    margin-left: 20px
}
.event-info-box {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 300px
}

.group-name-events {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px
}

.event-time {
    color: teal;
    font-weight: bold

}

.event-time {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: -10px
}

.start-end-time {
    margin-top: -20px;


}


.end {
    margin-top: -20px
}
.start-end {
    display: flex;
    flex-direction: column;
    color: lightgray;
    margin-top: -52px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    margin-right: -10px
}

.price-icon {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px
}
.event-detail-price {
    color: lightgray;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 10px
}

.pin-needle-icon {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px
}

.event-detail-type {
    color: lightgray;
    font-size: 25px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 10px
}

.event-detail-delete-button {
    background-color: rgb(75, 66, 65);
    color: white;
    height: 20px;
    width: 70px;
    box-shadow: 3px 3px 5px #000000;
    border: 1px solid black;
    font-size: 12px;
    font-weight: bold;

}
.event-detail-delete-container {
    display: flex;
    margin-left: 200px;
    margin-top: -25px

}

.delete-event-modal {
    position: fixed;
    border-radius: 10px;
    height: auto;
    top: 30%;
    padding-right: 5px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;


}

.modal-container {
    display: flex;
    justify-content: center;
    /* margin-right: auto */
    margin-right: 600px

}

/* .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}


 .overlay, .modal-container {
    display: none
} */
