.get-all-nav {
    margin: 0 auto;
    width: 50%;
}

.events-groups-navlink {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: 40%;
}

.event-same-page {
    color: teal;
    text-decoration: underline;
}

.subtitle-nav-events {
    color: lightgray;
    margin-top: -20px;
    font-weight: bold;
}

.get-all-top-container {
    width: 50%;
    margin: 0 auto
}

.get-all-listings {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black
}

.get-all-img {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px
}

.listing-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;

}

.startDate {
    margin-top: 3px;
    color: teal;
    font-weight: bold;
}
.listing-name {
    font-size: 18px;
    margin-top: -35px;
}

.event-price {
    margin-top: -38px
}

.event-capacity {
    margin-top: -50px
}

.event-type {
    margin-top: -50px
}

.event-location {
    margin-top: -50px
}

.event-description {
    font-size: 30px;
    color: black;
    margin-top: -40px
}
